body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    background: rgba(169,3,41,1);
background: -moz-linear-gradient(45deg, rgba(169,3,41,1) 0%, rgba(149,2,36,1) 20%, rgba(143,2,34,0.9) 26%, rgba(143,2,34,0.48) 50%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(20%, rgba(149,2,36,1)), color-stop(26%, rgba(143,2,34,0.9)), color-stop(50%, rgba(143,2,34,0.48)));
background: -webkit-linear-gradient(45deg, rgba(169,3,41,1) 0%, rgba(149,2,36,1) 20%, rgba(143,2,34,0.9) 26%, rgba(143,2,34,0.48) 50%);
background: -o-linear-gradient(45deg, rgba(169,3,41,1) 0%, rgba(149,2,36,1) 20%, rgba(143,2,34,0.9) 26%, rgba(143,2,34,0.48) 50%);
background: -ms-linear-gradient(45deg, rgba(169,3,41,1) 0%, rgba(149,2,36,1) 20%, rgba(143,2,34,0.9) 26%, rgba(143,2,34,0.48) 50%);
background: linear-gradient(45deg, rgba(169,3,41,1) 0%, rgba(149,2,36,1) 20%, rgba(143,2,34,0.9) 26%, rgba(143,2,34,0.48) 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#8f0222', GradientType=1 );
}
  h1 {
    
    font-size: 1.5em;
}
ul {
    padding: 10px;
}
.done {
    text-decoration: line-through;
}
#container {
    width: 800px;
    text-align: center;
    margin: 20px auto;
}
input[type="text"] {
    height: 30px;
    width: 350px;
    padding: 10px;
    margin-right: 10px;
    font-size: 24px;
}
input[type="submit"] {
    height: 56px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #ccc;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}
ul {
    margin: 15px auto 0;
    padding: 0;
    width: 545px;
}
ul li {
    list-style-type: none;
    font-size: 24px;
    background-color: #efefef;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
}
ul li span {
    cursor: text;
}
ul li a,
ul li a:link {
    float: right;
    display: none;
    text-decoration: none;
    color: #f03;
}
ul li a:hover {
    text-decoration: underline;
}